<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">Publish</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Affichage de l'image sélectionnée -->
  <div *ngIf="cover" class="cover-image-container">
    <img [src]="coverUrl" alt="Cover Image" class="cover-image" />
  </div>

  <ion-item>
    <ion-label>Cover Image</ion-label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  </ion-item>

  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="description" rows="12" (ionInput)="updateWordCount()" placeholder="Saisir la description, veuillez saisir au moins 100 mots."></ion-textarea>
  </ion-item>

    <!-- Compteur de mots -->
    <div class="word-count">
      {{ wordCount }}/200
    </div>
</ion-content>
