 ion-label h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  ion-label p {
    font-size: 14px;
    color: gray;
    margin: 4px 0 0;
  }
  ion-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height: 180px;
    object-fit: cover;
  }
  
  .card{
    height: 200px;
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  ion-card-content p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  