<ion-header>
  <ion-toolbar>
    <ion-title>Mes Livres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-card *ngIf="!loading && books.length === 0">
    <ion-card-content>
      <p>Vous n'avez encore créé aucun livre.</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!loading && books.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let book of books">
          <ion-card class="card"  (click)="goToBookDetails(book.id)">
            <ion-row class="ion-align-items-center">
              <!-- Photo à gauche -->
              <ion-col size="4">
                <ion-img  *ngIf="book.cover" [src]="'http://localhost:8000/storage/' + book.cover" alt="Cover" class="image"></ion-img>
                <!-- <ion-img *ngIf="!book.cover" src="assets/placeholder-image.png"></ion-img> -->
              </ion-col>

              <!-- Titre et description à droite -->
              <ion-col size="8" size-md="9">
                <ion-card-header>
                  <ion-card-title>{{ book.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ book.description | slice: 0:50 }}...</p>
                  <!-- <ion-button fill="outline" color="primary" (click)="goToBookDetails(book.id)">
                    Voir les détails
                  </ion-button> -->
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
