<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails du Livre</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isEditing" (click)="enableEditing()" color="primary">Modifier</ion-button>
      <ion-button *ngIf="isEditing" (click)="saveChanges()" color="primary">Sauvegarder</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="book">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ book.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="isEditing">
        <ion-label position="floating">Titre</ion-label>
        <ion-input [(ngModel)]="book.title"></ion-input>
      </ion-item>
      <ion-item *ngIf="!isEditing">
        <ion-label>Titre</ion-label>
        <ion-text>{{ book.title }}</ion-text>
      </ion-item>

      <ion-item *ngIf="isEditing">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="book.description"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!isEditing">
        <ion-label>Description</ion-label>
        <ion-text>{{ book.description }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Couverture</ion-label>
        <ion-input [(ngModel)]="book.cover" *ngIf="isEditing"></ion-input>
        <ion-text *ngIf="!isEditing">{{ book.cover }}</ion-text>
      </ion-item>

      <!-- <ion-button expand="full" (click)="uploadCover()" *ngIf="isEditing">Changer la couverture</ion-button> -->
    </ion-card-content>
  </ion-card>

  <ion-img *ngIf="book.cover" [src]="'http://localhost:8000/storage/' + book.cover" alt="Cover"></ion-img>
</ion-content>
